    <!--游戏截图 ent-->
    <script type="text/javascript" src='js/jquery-2.0.3.min.js'></script>
    <script type="text/javascript" src="js/tween.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</div>
</body>
</html>