<% include header %>
    <div class="container" id="dynamic-imgs">
        <div id="target" style="">
            <img src="ads/add1.png" class="imgCont test">
            <img src="ads/add3.png" class="imgCont test">
            <img src="ads/add1.png" class="imgCont test">

        </div>
        <div id="indexDom">
            <span class="indexDom-num" style="background:#7AC533;">&nbsp;</span>
            <span class="indexDom-num">&nbsp;</span>
            <span class="indexDom-num">&nbsp;</span>
        </div>
    </div>
    <!--号外 start-->
    <section class="top-add ">        
        <span class="command"></span>
        <h3 class="fs16 dash-buttom">盛夏六月，那些消磨时光的小游戏</h3>
    </section>
    <!--号外 end-->
    <!--top 推介列表项 start-->
    <section class="list-top">
        <ol>
            <li class="dash-buttom">动作 |《雷电战机》儿时街机震撼登陆手机</li>
            <li class="dash-buttom">攻略 |《割绳子》不完全手册</li>
            <li class="dash-buttom">经典 |《植物大战僵尸王》大波美女僵尸来袭</li>
            <li class="dash-buttom">推荐 | 有些游戏会让你感觉智商不够用！</li>
        </ol>
    </section>
    <!--top 推介列表项 end-->
     <!--moudel start-->
    <div class="bg-cut bg-light-blue">
        <strong class="g-left fs16">装机必备</strong>
        <span class="g-right fs14">流志军一审被判死缓</span>
    </div>
    <!--moudel end-->
    <div class="litte-block">
        <article class="one dash-buttom g-left">
            <img src="images/hehe.png" width='60' height='60' alt=""/>
            <dl>
                <dt class="fs12 ">君临三国</dt>
                <dd class="fs12 fs-h12">休闲&nbsp;&nbsp;17.7M</dd>
                <dd><span class="button button-min fs12">下载</span></dd>
            </dl>
        </article>
         <article class="one dash-left dash-buttom g-left">
            <img src="images/hehe.png" width='60' height='60' alt=""/>
            <dl>
                <dt class="fs12">君临三国</dt>
                <dd class="fs12 fs-h12">休闲&nbsp;&nbsp;17.7M</dd>
                <dd><span class="button button-min fs12">下载</span></dd>
            </dl>
        </article>
         <article class="one g-left dash-left dash-buttom ">
            <img src="images/hehe.png" width='60' height='60' alt=""/>
            <dl>
                <dt class="fs12">君临三国</dt>
                <dd class="fs12 fs-h12">休闲&nbsp;&nbsp;17.7M</dd>
                <dd><span class="button button-min fs12">下载</span></dd>
            </dl>
        </article>
         <article class="one dash-left g-left  dash-buttom">
            <img src="images/hehe.png" width='60' height='60' alt=""/>
            <dl>
                <dt class="fs12 ">君临三国</dt>
                <dd class="fs12 fs-h12">休闲&nbsp;&nbsp;17.7M</dd>
                <dd><span class="button button-min fs12">下载</span></dd>
            </dl>
        </article>
        <article class="one g-left dash-buttom ">
            <img src="images/hehe.png" width='60' height='60' alt=""/>
            <dl>
                <dt class="fs12">君临三国</dt>
                <dd class="fs12 fs-h12">休闲&nbsp;&nbsp;17.7M</dd>
                <dd><span class="button button-min fs12">下载</span></dd>
            </dl>
        </article>
         <article class="one dash-left g-left dash-buttom">
            <img src="images/hehe.png" width='60' height='60' alt=""/>
            <dl>
                <dt class="fs12 ">君临三国</dt>
                <dd class="fs12 fs-h12">休闲&nbsp;&nbsp;17.7M</dd>
                <dd><span class="button button-min fs12">下载</span></dd>
            </dl>
        </article>
    </div>
    <!--load more start-->
    <div class="loadmore c-white fs16" style="margin-bottom:20px">点击加载更多</div>
    <!--load more  end-->
<% include footer %>