<% include header %>
    <div class="container" id="dynamic-imgs">
        <div id="target" style="">
            <img src="ads/add1.png" class="imgCont test">
            <img src="ads/add3.png" class="imgCont test">
            <img src="ads/add1.png" class="imgCont test">

        </div>
        <div id="indexDom">
            <span class="indexDom-num" style="background:black;">&nbsp;</span>
            <span class="indexDom-num">&nbsp;</span>
            <span class="indexDom-num">&nbsp;</span>
        </div>
    </div>
<% include footer %>