<div class="line-block">
    <ul>
        <li class="dash-buttom">
            <div class="left-img g-left"><img src="img/hehe.png" width='60' height='60' alt=""/></div>
            <div class="app-detail g-left">
                <dl>
                    <dt class="fs16">君临三国</dt>
                    <dd class="fs12 fs-h12">休闲&nbsp;|&nbsp;17.7M &nbsp;<i class="icon-1"></i>1447次下载</dd>
                    <dd class="fs12 fs-h12">经典割绳子游戏的第二版...</dd>
                </dl>
            </div>
            <div class="app-down g-right"><span class="fs14 button button-big">免费下载</span></div>
        </li>
        <li class="dash-buttom">
            <div class="left-img g-left"><img src="img/hehe.png" width='60' height='60' alt=""/></div>
            <div class="app-detail g-left">
                <dl>
                    <dt class="fs16">君临三国</dt>
                    <dd class="fs12 fs-h12">休闲&nbsp;|&nbsp;17.7M &nbsp;<i class="icon-1"></i>1447次下载</dd>
                    <dd class="fs12 fs-h12">经典割绳子游戏的第二版...</dd>
                </dl>
            </div>
            <div class="app-down g-right"><span class=" fs14 button button-big">免费下载</span></div>
        </li>
        <li class="dash-buttom">
            <div class="left-img g-left"><img src="img/hehe.png" width='60' height='60' alt=""/></div>
            <div class="app-detail g-left">
                <dl>
                    <dt class="fs16">君临三国</dt>
                    <dd class="fs12 fs-h12">休闲&nbsp;|&nbsp;17.7M &nbsp;<i class="icon-1"></i>1447次下载</dd>
                    <dd class="fs12 fs-h12">经典割绳子游戏的第二版...</dd>
                </dl>
            </div>
            <div class="app-down g-right"><span class="fs14 button button-big">免费下载</span></div>
        </li>
        <li class="dash-buttom">
            <div class="left-img g-left"><img src="img/hehe.png" width='60' height='60' alt=""/></div>
            <div class="app-detail g-left">
                <dl>
                    <dt class="fs16">君临三国</dt>
                    <dd class="fs12 fs-h12">休闲&nbsp;|&nbsp;17.7M &nbsp; <i class="icon-1"></i>1447次下载</dd>
                    <dd class="fs12 fs-h12">经典割绳子游戏的第二版...</dd>
                </dl>
            </div>
            <div class="app-down g-right"><span class="fs14 button button-big">免费下载</span></div>
        </li>
        <li class="dash-buttom">
            <div class="left-img g-left"><img src="img/hehe.png" width='60' height='60' alt=""/></div>
            <div class="app-detail g-left">
                <dl>
                    <dt class="fs16">君临三国</dt>
                    <dd class="fs12 fs-h12">休闲&nbsp;|&nbsp;17.7M &nbsp;<i class="icon-1"></i>1447次下载</dd>
                    <dd class="fs12 fs-h12">经典割绳子游戏的第二版...</dd>
                </dl>
            </div>
            <div class="app-down g-right"><span class="fs14 button button-big">免费下载</span></div>
        </li>
    </ul>
</div>