 <ul class="zhuanti-list">
        <li class="dash-buttom">
            <img src="ads/zhuanti-add.png" height="72" width="107" alt="">
            <div class="info">
                <h4 class="fs20 c-gray">今天你射了吗？</h4>
                <span class="detail fs14 c-light-gray">是男人就来迎接挑战，感受刺激，今天你射了吗？</span>
            </div>
            <div class="left-trigger"></div>
        </li>
        <li class="dash-buttom">
            <img src="ads/zhuanti-add.png" height="72" width="107" alt="">
            <div class="info">
                <h4 class="fs20 c-gray">好基友，一起爽</h4>
                <span class="detail fs14 c-light-gray">和基友一起通关奋战绝对比独自在黑暗的山洞里摸索更刺激</span>
            </div>
            <div class="left-trigger"></div>
        </li>
        <li class="dash-buttom">
            <img src="ads/zhuanti-add.png" height="72" width="107" alt="">
            <div class="info">
                <h4 class="fs20 c-gray">屌丝的逆袭</h4>
                <span class="detail fs14 c-light-gray">想知道如何约炮吗？屌丝逆袭到来了，专为你打造的神器...</span>
            </div>
             <div class="left-trigger"></div>
        </li>
        <li class="dash-buttom">
            <img src="ads/zhuanti-add.png" height="72" width="107" alt="">
            <div class="info">
                <h4 class="fs20 c-gray">真想只有一个</h4>
                <span class="detail fs14 c-light-gray">我们不是福尔摩斯，但我们有细心观察、留意蛛丝马迹的特</span>
            </div>
            <div class="left-trigger"></div>
        </li>
        <li class="dash-buttom">
            <img src="ads/zhuanti-add.png" height="72" width="107" alt="">
            <div class="info">
                <h4 class="fs20 c-gray">不征战非游戏</h4>
                <span class="detail fs14 c-light-gray">在这里，没有硝烟四起，只有攻城略地的畅快淋漓！和平年代已经远去，扬刀跨马，征战江湖！</span>
            </div>
            <div class="left-trigger"></div>
        </li>
    </ul>